@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #f2f3f4;
}

#logo {
    width: 50px;
    height: 50px;
}

nav li {
    display: inline;
    padding: 5px 0;
}

nav li:hover {
    border-bottom: 2px solid #5271ff;
}

nav a {
    text-decoration: none;
    color: #5271ff;
    font-size: 21px;
    margin-left: 5px;
}

#home-row-1 {
    display: flex;
    align-items: center;
}

#home-row-1 h1 {
    color: #5271ff;
    font-size: 48px;
    font-weight: bold;
}

#home-row-1 img {
    width: 60%;
}

#home-row-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5271ff;
    color: #fff;
}

.row-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 15px;
}

#home-row-2 div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#home-row-3, #home-row-4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-row-3 .row-title {
    color: #5271ff;
}

#home-row-3 #programs {
    display: flex;
    justify-content: space-between;
}

#home-row-3 .program {
    width: 30%;
}

#home-row-3 .program-info {
    display: flex;
    margin-bottom: 10px;
}

#home-row-3 .program-icon {
    margin-right: 10px;
}

#home-row-3 .program-title {
    margin-bottom: 7px;
}

#home-row-3 .program-fee {
    display: inline;
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
}

#enroll {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#enroll a {
    background-color: #5271ff;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    font-size: 32px;
    padding: 8px 12px;
    border-radius: 5px;
}

#home-row-4 {
    background-color: #f2f3f4;
}

#home-row-4 .row-title {
    color: #5271ff;
}

#home-row-4 iframe {
    width: 100%;
    height: 100%;
}

#home-row-4 #contacts {
    display: flex;
    justify-content: space-between;
}

#home-row-4 #contacts > * {
    width: 48%;
}

#home-row-4 #contacts form {
    display: flex;
    flex-direction: column;
    font-size: 21px;
}

#home-row-4 #contacts form .form-input {
    font-size: 18px;
    padding: 7px;
    margin-bottom: 5px;
    border: 0;
}

#home-row-4 #contacts form input[type='submit'] {
    background-color: #5271ff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    border: 1px solid #5271ff;
}

.post {
    margin-bottom: 12px;
    border-bottom: 1px solid #c0c1c2;
}

.post-title {
    color: #5271ff;
    margin-bottom: 4px;
}

.post-info {
    color: #484747;
    margin-bottom: 4px;
}

.post-excerpt {
    text-align: justify;
    margin-bottom: 4px;
}



footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-size: 20px;
}
